#court_location_map {
    width: 100%;
    border-radius: 0.625rem;
}
.leaflet-popup-content-wrapper {
    border-radius: 8px;
}
.map-popup {
    padding: 10px;
}
.map-popup h4 {
    margin: 0 0 5px 0;
    color: #181C32;
    font-weight: 600;
}
.map-popup p {
    margin: 0;
    color: #7E8299;
}
.court-thumbnail-slider {
    width: 150px;
    height: 100px;
    position: relative;
}
.court-thumbnail-slider .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background: #ffffff;
    opacity: 0.7;
}
.court-thumbnail-slider .swiper-pagination-bullet-active {
    opacity: 1;
    background: #009ef7;
}
